page-login {
    .login-content {
        background-image: url("../assets/imgs/1.jpg") !important;
        background-color: #2a74d4;
        background-repeat: no-repeat;
        background-size: cover;
        .logo-row {
            padding-top: 50px;
            padding-bottom: 25px;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            border-radius: 5px !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
            margin-bottom: 5px;
        }
        .submit-col {
            margin: 0px 20px 0px 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
        }
        .submit-btn {
            border-radius: 5px !important;
        }
    }
}