page-login {
    .login-content {
        background-image: url("../assets/imgs/1.jpg") !important;
        background-color: #2a74d4;
        background-repeat: no-repeat;
        background-size: cover;
        .logo-row {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            border-radius: 5px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            margin-bottom: 10px;
        }
        .submit-btn {
            border-radius: 5px !important;
        }
    }
}