page-login {
    .login-content {
        background-image: url("../assets/imgs/1.jpg") !important;
        background-color: #2a74d4;
        background-repeat: no-repeat;
        background-size: cover;
        .logo-row {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
    }
    u {
        font-size: 14px;
        color: #ffffff;
        text-decoration: underline;
    }
}