page-bed-details {
    ion-grid {
        text-align: center;
        font-size: 15px;
    }
    
    .col {
        border-bottom: solid 1px lightgrey;
    }

    .add{
        color: #488aff;
        font-size: 14px;
    }

}
