<ion-header>
    <ion-navbar color="primary">
        <ion-title>จัดการเตียงผู้ป่วย</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>

        <div *ngIf="profileData.ward == admin">
            <ion-row>
                <ion-col col-2>
                    <b>วอร์ด</b>
                </ion-col>
                <ion-col col-5>
                    <b>จำนวนเตียงว่าง</b>
                </ion-col>
                <ion-col col-5>
                    <b>เพิ่มผู้ป่วยเข้าเตียง</b>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let bed of bedsData">
                <ion-col col-2>
                    <div>{{bed.name}}</div>
                </ion-col>
                <ion-col col-5>
                    <div>{{bed.blank}}</div>
                </ion-col>
                <ion-col col-5>
                    <div (click)="addBed(bed)">
                        <b class="add">
                            <ion-icon name="add-circle"> เพิ่มผู้ป่วย</ion-icon>
                        </b>
                    </div>
                </ion-col>
            </ion-row>
        </div>

        <div *ngIf="profileData.ward != admin">
            <ion-row>
                <ion-col col-2>
                    <b>วอร์ด</b>
                </ion-col>
                <ion-col col-5>
                    <b>จำนวนเตียงว่าง</b>
                </ion-col>
                <ion-col col-5>
                    <b>แก้ไขจำนวนเตียง</b>
                </ion-col>
            </ion-row>
            <div *ngFor="let bed of bedsData">
                <ion-row *ngIf="bed.name == profileData.ward">
                    <ion-col col-2>
                        <div>{{bed.name}}</div>
                    </ion-col>
                    <ion-col col-5>
                        <div>{{bed.blank}}</div>
                    </ion-col>
                    <ion-col col-5>
                        <div (click)="updateBed(bed)">
                            <b class="add">
                                <ion-icon name="add-circle"> ปรับจำนวนเตียง</ion-icon>
                            </b>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>

    </ion-grid>
</ion-content>