page-bed-details {
    ion-grid {
        text-align: center;
        font-size: 16px;
    }
    .col {
        border-bottom: solid 1px lightgrey;
    }
    .add {
        color: #488aff;
        font-size: 16px;
    }
    .reduce {
        color: #f53d3d;
        font-size: 16px;
    }
}