page-bed-details {
    ion-grid {
        text-align: center;
        font-size: 14px
    }
    
    .col {
        margin-bottom: 4px;
        border-bottom: solid 1px lightgrey;
    }

    .add{
        background-color: transparent; 
        color: #488aff;
        font-size: 15px;
        text-align: center;
    }
}
