<ion-header>
    <ion-navbar color="primary">
        <ion-title>จัดการเตียงผู้ป่วย</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <div *ngIf="profileData.role == 'admin' || profileData.role == 'adcenter'">
            <ion-row>
                <ion-col col-3>
                    <b>วอร์ด</b>
                </ion-col>
                <ion-col col-4>
                    <b>เตียงว่าง</b>
                </ion-col>
                <ion-col col-5>
                    <b>เพิ่ม/ลดเตียง</b>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let bed of bedsData">
                <ion-col col-3>
                    <div>{{bed.name}}</div>
                </ion-col>
                <ion-col col-4>
                    <div>{{bed.blank}}</div>
                </ion-col>
                <ion-col col-5>
                    <b class="reduce" (click)="reduceBed(bed)">
                        <ion-icon name="remove-circle"> ลด&nbsp;</ion-icon>
                    </b>
                    <b class="add" (click)="addBed(bed)">
                        <ion-icon name="add-circle"> เพิ่ม </ion-icon>
                    </b>
                </ion-col>
            </ion-row>
        </div>

        <div *ngIf="profileData.role == 'resident'">
            <ion-row>
                <ion-col col-3>
                    <b>วอร์ด</b>
                </ion-col>
                <ion-col col-4>
                    <b>เตียงว่าง</b>
                </ion-col>
                <ion-col col-5>
                    <b>แก้ไขจำนวน</b>
                </ion-col>
            </ion-row>
            <div *ngFor="let bed of bedsData">
                <ion-row *ngIf="bed.name == profileData.ward">
                    <ion-col col-2>
                        <div>{{bed.name}}</div>
                    </ion-col>
                    <ion-col col-5>
                        <div>{{bed.blank}}</div>
                    </ion-col>
                    <ion-col col-5>
                        <div (click)="updateBed(bed)">
                            <b class="add">
                                <ion-icon name="add-circle"> ปรับจำนวน</ion-icon>
                            </b>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </ion-grid>
</ion-content>