<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>รายชื่อ</ion-title>
    </ion-navbar>
    <ion-searchbar class="searchbar" [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content class="contact-content">
    <ion-list>
        <ion-item-group>

            <ion-item-divider sticky>
                <ion-label> 4ก </ion-label>
            </ion-item-divider>
            <ion-item-group *ngFor="let contact of contactList">
                <ion-item style="background: transparent;" *ngIf="contact.ward == '4ก'">
                    <ion-avatar (click)="openNavSubContact(contact)" item-start>
                        <img src="{{contact.picture}}" />
                    </ion-avatar>
                    <h2 (click)="openNavSubContact(contact)">{{contact.name}}</h2>
                    <p (click)="openNavSubContact(contact)">{{contact.type}} {{contact.aptitude}}</p>
                    <ion-icon name="call" (click)="call(contact.phone)" item-end></ion-icon>
                </ion-item>
            </ion-item-group>

            <ion-item-divider sticky>
                <ion-label> 4ข </ion-label>
            </ion-item-divider>
            <ion-item-group *ngFor="let contact of contactList">
                <ion-item style="background: transparent;" *ngIf="contact.ward == '4ข'">
                    <ion-avatar (click)="openNavSubContact(contact)" item-start>
                        <img src="{{contact.picture}}" />
                    </ion-avatar>
                    <h2 (click)="openNavSubContact(contact)">{{contact.name}}</h2>
                    <p (click)="openNavSubContact(contact)">{{contact.type}} {{contact.aptitude}}</p>
                    <ion-icon name="call" (click)="call(contact.phone)" item-end></ion-icon>
                </ion-item>
            </ion-item-group>

            <ion-item-divider sticky>
                <ion-label> 4ค </ion-label>
            </ion-item-divider>
            <ion-item-group *ngFor="let contact of contactList">
                <ion-item style="background: transparent;" *ngIf="contact.ward == '4ค'">
                    <ion-avatar (click)="openNavSubContact(contact)" item-start>
                        <img src="{{contact.picture}}" />
                    </ion-avatar>
                    <h2 (click)="openNavSubContact(contact)">{{contact.name}}</h2>
                    <p (click)="openNavSubContact(contact)">{{contact.type}} {{contact.aptitude}}</p>
                    <ion-icon name="call" (click)="call(contact.phone)" item-end></ion-icon>
                </ion-item>
            </ion-item-group>

            <ion-item-divider sticky>
                <ion-label> AE3 </ion-label>
            </ion-item-divider>
            <ion-item-group *ngFor="let contact of contactList">
                <ion-item style="background: transparent;" *ngIf="contact.ward == 'AE3'">
                    <ion-avatar (click)="openNavSubContact(contact)" item-start>
                        <img src="{{contact.picture}}" />
                    </ion-avatar>
                    <h2 (click)="openNavSubContact(contact)">{{contact.name}}</h2>
                    <p (click)="openNavSubContact(contact)">{{contact.type}} {{contact.aptitude}}</p>
                    <ion-icon name="call" (click)="call(contact.phone)" item-end></ion-icon>
                </ion-item>
            </ion-item-group>

            <ion-item-divider sticky>
                <ion-label> สว9A </ion-label>
            </ion-item-divider>
            <ion-item-group *ngFor="let contact of contactList">
                <ion-item style="background: transparent;" *ngIf="contact.ward == 'สว9A'">
                    <ion-avatar (click)="openNavSubContact(contact)" item-start>
                        <img src="{{contact.picture}}" />
                    </ion-avatar>
                    <h2 (click)="openNavSubContact(contact)">{{contact.name}}</h2>
                    <p (click)="openNavSubContact(contact)">{{contact.type}} {{contact.aptitude}}</p>
                    <ion-icon name="call" (click)="call(contact.phone)" item-end></ion-icon>
                </ion-item>
            </ion-item-group>

            <ion-item-divider sticky>
                <ion-label> สว9B </ion-label>
            </ion-item-divider>
            <ion-item-group *ngFor="let contact of contactList">
                <ion-item style="background: transparent;" *ngIf="contact.ward == 'สว9B'">
                    <ion-avatar (click)="openNavSubContact(contact)" item-start>
                        <img src="{{contact.picture}}" />
                    </ion-avatar>
                    <h2 (click)="openNavSubContact(contact)">{{contact.name}}</h2>
                    <p (click)="openNavSubContact(contact)">{{contact.type}} {{contact.aptitude}}</p>
                    <ion-icon name="call" (click)="call(contact.phone)" item-end></ion-icon>
                </ion-item>
            </ion-item-group>

            <ion-item-divider sticky>
                <ion-label> MICU1 </ion-label>
            </ion-item-divider>
            <ion-item-group *ngFor="let contact of contactList">
                <ion-item style="background: transparent;" *ngIf="contact.ward == 'MICU1'">
                    <ion-avatar (click)="openNavSubContact(contact)" item-start>
                        <img src="{{contact.picture}}" />
                    </ion-avatar>
                    <h2 (click)="openNavSubContact(contact)">{{contact.name}}</h2>
                    <p (click)="openNavSubContact(contact)">{{contact.type}} {{contact.aptitude}}</p>
                    <ion-icon name="call" (click)="call(contact.phone)" item-end></ion-icon>
                </ion-item>
            </ion-item-group>

            <ion-item-divider sticky>
                <ion-label> MICU2 </ion-label>
            </ion-item-divider>
            <ion-item-group *ngFor="let contact of contactList">
                <ion-item style="background: transparent;" *ngIf="contact.ward == 'MICU2'">
                    <ion-avatar (click)="openNavSubContact(contact)" item-start>
                        <img src="{{contact.picture}}" />
                    </ion-avatar>
                    <h2 (click)="openNavSubContact(contact)">{{contact.name}}</h2>
                    <p (click)="openNavSubContact(contact)">{{contact.type}} {{contact.aptitude}}</p>
                    <ion-icon name="call" (click)="call(contact.phone)" item-end></ion-icon>
                </ion-item>
            </ion-item-group>

            <ion-item-divider sticky>
                <ion-label> CCU </ion-label>
            </ion-item-divider>
            <ion-item-group *ngFor="let contact of contactList">
                <ion-item style="background: transparent;" *ngIf="contact.ward == 'CCU'">
                    <ion-avatar (click)="openNavSubContact(contact)" item-start>
                        <img src="{{contact.picture}}" />
                    </ion-avatar>
                    <h2 (click)="openNavSubContact(contact)">{{contact.name}}</h2>
                    <p (click)="openNavSubContact(contact)">{{contact.type}} {{contact.aptitude}}</p>
                    <ion-icon name="call" (click)="call(contact.phone)" item-end></ion-icon>
                </ion-item>
            </ion-item-group>

        </ion-item-group>
    </ion-list>
</ion-content>