page-contact {
    .contact-content {
        background-image: url("../assets/imgs/1-1.jpg") !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    ion-searchbar.searchbar {
        background-color: #488aff;
    }
}