page-home {
    ion-grid {
        text-align: center;
        font-size: 15px;
    }
    
    .col {
        border-bottom: solid 1px lightgrey;
    }

    .time {
        font-size: 14px;
    }
}
