<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>รพ.ศรีนครินทร์</ion-title>
        <ion-buttons *ngIf="profileData.role != 'staff'" end>
            <button ion-button icon-only (click)="openNavDetailsPage()">แก้ไขเตียง </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
                <b>วอร์ด</b>
            </ion-col>
            <ion-col col-3>
                <b>เตียงว่าง</b>
            </ion-col>
            <ion-col col-6>
                <b>อัปเดตล่าสุด</b>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let bed of bedsData">
            <ion-col col-3>
                <div>{{bed.name}}</div>
            </ion-col>
            <ion-col col-3>
                <div>{{bed.blank}}</div>
            </ion-col>
            <ion-col col-6>
                <div class="time">{{bed.time | date:'EEE hh:mm a'}}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>