page-home {
    ion-grid {
        text-align: center;
        font-size: 16px;
    }
    .col {
        border-bottom: solid 1px lightgrey;
    }
    .time {
        font-size: 16px;
    }
}