page-create-calendar {
    .create-calendar-content {
        background-image: url("../assets/imgs/1-1.jpg") !important;
        background-repeat: no-repeat;
        background-size: cover;
        p {
            margin: 20px 0;
            line-height: 22px;
            font-size: 16px;
        }
    }
    .line {
        border-bottom: 1px solid $list-md-border-color;
        border-left: 0.1px solid $list-md-border-color;
    }
}