page-resetpwd {
    .reset-content {
        background-image: url("../assets/imgs/1.jpg") !important;
        background-color: #2a74d4;
        background-repeat: no-repeat;
        background-size: cover;
    }
}