<ion-menu menuClose [content]="content">
    <ion-content>
        <ion-item *ngIf="profileData | async; let profileData; else loading">
            <ion-avatar style="width:25%" item-start>
                <img style="width:100%; height:100%" src="{{profileData.picture}}">
            </ion-avatar>
            <h2>{{profileData.name}}</h2>
            <p *ngIf="profileData.role">หน้าที่ : {{profileData.role}}</p>
            <p *ngIf="!profileData.role">หน้าที่ : Staff</p>
            <p *ngIf="profileData.ward">วอร์ดที่ : {{profileData.ward}}</p>
        </ion-item>

        <ion-list>
            <button menuClose ion-item *ngFor="let page of pages" (click)="openPage(page)">
                {{page.title}}
            </button>
        </ion-list>

        <ion-footer>
            <button class="logout" (click)="logOut()" menuClose ion-item>
                Sign Out
            </button>
        </ion-footer>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>