<ion-menu menuClose [content]="content">
    <ion-content>
        <ion-item *ngIf="profileData">
            <ion-avatar style="width:25%" item-start>
                <img style="width:100%; height:100%" src="{{(profileData | async)?.picture}}">
            </ion-avatar>
            <h2>{{(profileData | async)?.name}}</h2>
            <p>หน้าที่ : {{(profileData | async)?.role}}</p>
        </ion-item>

        <ion-list>
            <button menuClose ion-item *ngFor="let page of pages" (click)="openPage(page)">
                {{page.title}}
            </button>
        </ion-list>

        <ion-footer>
            <button class="logout" (click)="logOut()" menuClose ion-item>
                Log Out
            </button>
        </ion-footer>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>